@using Microsoft.AspNetCore.Authorization
@using Whs.Client.Components
@page "/WhsOrdersOut/Shipment"
@attribute [Authorize]
@code
{
    private Notification Notification;
}

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

<h3>Выдача</h3>
<h5>Расходные ордера "К Отгрузке"</h5>

@if (Orders == null)
{
    <p><em>Загрузка...</em></p>
}
else
{<div class="card-deck">
        @foreach (var item in Orders)
        {
            <Card Value="item" />
        }
    </div>
}
