<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>Авторизация...</text>
            </Authorizing>
            <NotAuthorized>
                Вы не авторизованы для просмотра этой страницы.
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Извините, по этому адресу ничего нет...</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
